/* llamar todos los css con mediaquerys */
/* css smartphone */
@import url("../../pack/css/media/frontphone.css");
/* css tablet */
@import url("../../pack/css/media/fronttablet.css");
/* css computador */
@import url("../../pack/css/media/frontpc.css");
/* css tv */
@import url("../../pack/css/media/fronttv.css");
/* formatos generales */
body { 
    margin: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#idheader { 
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #415b6e;
}
#idnav {
    position: relative;
    width: auto;
    height: 55px;
    background-color: #5a7183;
}
#idlogo {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 45px;
    margin-top: 4px;
    margin-left: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("http://localhost/EcuApp/pack/re/logo.png");
}
#idlbnom {
    display: inline-block;
    margin-left: 5px;
    width: 110px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: -10px;
}
#idlbnom::before { content: "EcuApp"; }

#idlbnom:hover { cursor: pointer; }

#cjmenu {
    display: inline-block;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 5px;
}

#idsection {
    position: relative;
    width: 100%;
    height: auto;
}
#idarticles {
    position: relative;
    width: auto;
    height: auto;
}
#idfooter {
    position: relative;
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(200, 200, 200);
}
#idarticlef {
    position: relative;
    width: auto;
    height: 200px;
}