 /* crear if de media query */
@media only screen and (min-width: 0px) and (max-width: 279px) {
    #idheader { display: none; }
    #idsection { display: none; }
    #idfooter { display: none; }
    #cuerpogeneral::after { 
        content: var(--texto-resol-error);
        font-family: var(--tipo-letra);
    }
    #cuerpogeneral {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #15232d;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
        color: #fff;
        text-align: center;
    }
}
@media only screen and (min-width: 280px) and (max-width: 320px) {
    #cjmenu { width: 45px; }
    #cjmenu > div:nth-child(1) { display: none; }
    #cjmenu > div:nth-child(2) { display: none; }
    #cjmenu > div:nth-child(3) { display: none; }
    #cjmenu > div:nth-child(4) { display: none; }
    #cjmenu > div:nth-child(5) { width: 45px; height: 45px; }
    #idlbnom { font-size: 20px; }
    .caja-input > input { width: 170px; height: 30px; }
    .img-pass { height: 33px; width: 33px; }
    .img-mail { height: 33px; width: 33px; }
    /* codigo para modificar login */
    .lb-olvido { margin-bottom: 10px; }
    .desing-error { width: 277px; }
    .doble-factor { width: 258px; }
    .input-digito { width: 29px; }
}
@media only screen and (min-width: 321px) and (max-width: 415px) {
    #cjmenu { width: 45px; }
    #cjmenu > div:nth-child(1) { display: none; }
    #cjmenu > div:nth-child(2) { display: none; }
    #cjmenu > div:nth-child(3) { display: none; }
    #cjmenu > div:nth-child(4) { display: none; }
    #cjmenu > div:nth-child(5) { width: 45px; height: 45px; }
    #idlbnom { font-size: 20px; }
    .caja-input > input { width: 220px; height: 30px; }
    .img-pass { height: 33px; width: 33px; }
    .img-mail { height: 33px; width: 33px; }
    .cjlogueo > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desing-error { width: 300px; }
    .doble-factor { width: 278px; }
    .input-digito { width: 32px; }
}
@media only screen and (min-width: 416px) and (max-width: 520px) {
    #cjmenu { width: 45px; }
    #cjmenu > div:nth-child(1) { display: none; }
    #cjmenu > div:nth-child(2) { display: none; }
    #cjmenu > div:nth-child(3) { display: none; }
    #cjmenu > div:nth-child(4) { display: none; }
    #cjmenu > div:nth-child(5) { width: 45px; height: 45px; }
    #idlbnom { font-size: 20px; }
    .caja-input > input { width: 270px; height: 30px; }
    .img-pass { height: 33px; width: 33px; }
    .img-mail { height: 33px; width: 33px; }
    .cjlogueo > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desing-error { width: 310px; }
    .doble-factor { width: 288px; }
    .input-digito { width: 33px; }
}