@media only screen and (min-width: 521px) and (max-width: 680px) {
    #cjmenu { width: 210px; }
    #cjmenu > div:nth-child(1) { width: 78px; font-size: 13px; }
    #cjmenu > div:nth-child(1):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(1):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(1)::before { content: var(--texto-btn1); }
    #cjmenu > div:nth-child(2) { width: 77px; font-size: 12.5px; }
    #cjmenu > div:nth-child(2):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(2):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(2)::before { content: var(--texto-btn3); }
    #cjmenu > div:nth-child(3) { display: none; }
    #cjmenu > div:nth-child(4) { width: 45px; height: 45px; left: 10px; }
    #cjmenu > div:nth-child(5) { display: none; }
    #idlbnom { font-size: 24px; }
    .caja-input > input { width: 270px; height: 30px; }
    .img-pass { height: 33px; width: 33px; }
    .img-mail { height: 33px; width: 33px; }
    .cjlogueo > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desing-error { width: 320px; }
    .doble-factor { width: 298px; }
    .input-digito { width: 33px; }
    .cjlogueo, .cjrecupera {
        margin: 5px;
        padding: 5px;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid var(--color-prinborder);
        box-shadow: 1px 2px 5px 5px var(--color-prinshadow);
        background-color: var(--color-prinactive);
    }
    .cjlogueo > div {
        margin-left: 15px;
        margin-right: 15px;
    }
    .img-recupera { 
        height: 40px;
        width: 40px;
    }
    .lb-recupera { font-size: 19px; }
    #txtrecupera { width: 320px; height: 31px; }
}
@media only screen and (min-width: 681px) and (max-width: 750px) {
    #cjmenu { width: 310px; }
    #cjmenu > div:nth-child(1) { width: 85px; font-size: 13px; }
    #cjmenu > div:nth-child(1):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(1):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(1)::before { content: var(--texto-btn1); }
    #cjmenu > div:nth-child(2) { width: 85px; font-size: 13px; }
    #cjmenu > div:nth-child(2):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(2):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(2)::before { content: var(--texto-btn2); }
    #cjmenu > div:nth-child(3) { width: 85px; font-size: 13px; }
    #cjmenu > div:nth-child(3):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(3):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(3)::before { content: var(--texto-btn3); }
    #cjmenu > div:nth-child(4) { width: 45px; height: 45px; left: 10px; }
    #cjmenu > div:nth-child(5) { display: none; }
    #idlbnom { font-size: 28px; }
    .caja-input > input { width: 270px; height: 35px; }
    .img-pass { height: 38px; width: 38px; }
    .img-mail { height: 38px; width: 38px; }
    .cjlogueo > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desing-error { width: 320px; }
    .doble-factor { width: 298px; }
    .input-digito { width: 35px; }
    .cjlogueo, .cjrecupera {
        margin: 5px;
        padding: 5px;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid var(--color-prinborder);
        box-shadow: 1px 2px 5px 5px var(--color-prinshadow);
        background-color: var(--color-prinactive);
    }
    .cjlogueo > div {
        margin-left: 15px;
        margin-right: 15px;
    }
    .img-recupera { 
        height: 40px;
        width: 40px;
    }
    .lb-recupera { font-size: 19px; }
    #txtrecupera { width: 320px; height: 36px; }
}
@media only screen and (min-width: 751px) and (max-width: 1200px) {
    #cjmenu { width: 410px; }
    #cjmenu > div:nth-child(1) { width: 119px; font-size: 15px; }
    #cjmenu > div:nth-child(1):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(1):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(1)::before { content: var(--texto-btn1); }
    #cjmenu > div:nth-child(2) { width: 118px; font-size: 15px; }
    #cjmenu > div:nth-child(2):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(2):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(2)::before { content: var(--texto-btn2); }
    #cjmenu > div:nth-child(3) { width: 118px; font-size: 15px; }
    #cjmenu > div:nth-child(3):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(3):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(3)::before { content: var(--texto-btn3); }
    #cjmenu > div:nth-child(4) { width: 45px; height: 45px; left: 10px; }
    #cjmenu > div:nth-child(5) { display: none; }
    #idlbnom { font-size: 28px; }
    .caja-input > input { width: 280px; height: 35px; }
    .img-pass { height: 38px; width: 38px; }
    .img-mail { height: 38px; width: 38px; }
    .cjlogueo > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desing-error { width: 330px; }
    .doble-factor { width: 318px; }
    .input-digito { width: 36px; }
    .cjlogueo, .cjrecupera {
        margin: 5px;
        padding: 5px;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid var(--color-prinborder);
        box-shadow: 1px 2px 5px 5px var(--color-prinshadow);
        background-color: var(--color-prinactive);
    }
    .cjlogueo > div {
        margin-left: 15px;
        margin-right: 15px;
    }
    .img-recupera { 
        height: 45px;
        width: 45px;
    }
    .lb-recupera { font-size: 20px; }
    #txtrecupera { width: 310px; height: 36px;}
}