@media only screen and (min-width: 1201px) and (max-width: 1920px) {
    #cjmenu { width: 500px; }
    #cjmenu > div:nth-child(1) { width: 152px; font-size: 18px; }
    #cjmenu > div:nth-child(1):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(1):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(1)::before { content: var(--texto-btn1); }
    #cjmenu > div:nth-child(2) { width: 152px; font-size: 18px; }
    #cjmenu > div:nth-child(2):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(2):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(2)::before { content: var(--texto-btn2); }
    #cjmenu > div:nth-child(3) { width: 151px; font-size: 18px; }  
    #cjmenu > div:nth-child(3):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(3):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(3)::before { content: var(--texto-btn3); }
    #cjmenu > div:nth-child(4) { width: 45px; height: 45px; left: 10px; }
    #cjmenu > div:nth-child(5) { display: none; }
    #idlbnom { font-size: 28px; }
    .caja-input > input { width: 290px; height: 37px; }
    .img-pass { height: 40px; width: 40px; }
    .img-mail { height: 40px; width: 40px; }
    .cjlogueo > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desing-error { width: 340px; }
    .doble-factor { width: 328px; }
    .input-digito { width: 37px; }
    .cjlogueo {
        margin: 5px;
        padding: 5px;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid var(--color-prinborder);
        box-shadow: 1px 2px 5px 5px var(--color-prinshadow);
        background-color: var(--color-prinactive);
    }
    .cjlogueo > div {
        margin-left: 15px;
        margin-right: 15px;
    }
    .img-recupera { 
        height: 50px;
        width: 50px;
    }
    .lb-recupera { font-size: 20px; }
    #txtrecupera { width: 320px; height: 38px; }
}