@media only screen and (min-width: 1921px) {
    #cjmenu { width: 610px; }
    #cjmenu > div:nth-child(1) { width: 185px; font-size: 20px; }
    #cjmenu > div:nth-child(1):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(1):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(1)::before { content: var(--texto-btn1); }
    #cjmenu > div:nth-child(2) { width: 185px; font-size: 20px; }
    #cjmenu > div:nth-child(2):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(2):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(2)::before { content: var(--texto-btn2); }
    #cjmenu > div:nth-child(3) { width: 185px; font-size: 20px; }
    #cjmenu > div:nth-child(3):hover { border-bottom: 3px solid var(--color-menu); }
    #cjmenu > div:nth-child(3):active { border-bottom: 3px solid var(--color-prinactive); }
    #cjmenu > div:nth-child(3)::before { content: var(--texto-btn3); }
    #cjmenu > div:nth-child(4) { width: 45px; height: 45px; left: 10px; }
    #cjmenu > div:nth-child(5) { display: none; }
    #idlbnom { font-size: 34px; }
    .caja-input > input { width: 300px; height: 42px; }
    .img-pass { height: 45px; width: 45px; }
    .img-mail { height: 45px; width: 45px; }
    .cjlogueo > div:nth-child(4) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desing-error { width: 370px; }
    .doble-factor { width: 338px; }
    .input-digito { width: 38px; }
}