/* formatos generales */
body { 
    margin: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#idminimenu { display: none; }
#idheader { 
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #415b6e;
}
#idnav {
    position: relative;
    width: auto;
    height: 75px;
    background-color: #242e36;
    border-bottom: 1px solid #1c272f;
}
#idlogo {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 65px;
    top: 5px;
    margin-top: 4px;
    margin-left: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--imagen-logo);
}
#idlbnom {
    display: inline-block;
    margin-left: 5px;
    width: 110px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: -20px;
}
#idlbnom::before { content: "EcuApp"; }

#idlbnom:hover { cursor: pointer; }

#cjmenu {
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 1;
}

#cjmenu > div {
    display: inline-block;
    position: relative;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cjmenu > div:hover {
    cursor: pointer;
}

.btnlogin {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--imagen-login);
    opacity: 0.6;
}
.btnlogin:hover {  opacity: 1; }

.btnmenu {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    top: -10px;
    background-image: var(--imagen-menu);
}
.btnmenu:hover {  opacity: 1; }

#idsection {
    position: relative;
    width: 100%;
    height: auto;
}
#idarticles {
    position: relative;
    width: auto;
}
#idfooter {
    position: relative;
    width: 100%;
    height: auto;
}

#idarticlef {
    position: relative;
    width: auto;
}

#flexnoticias {
    margin: 10px;
    display: flex;
	flex-wrap: wrap;
}

.btnuser {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: var(--imagen-user);
}

.btnuser:hover { opacity: 1; }

.centrador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cjlogueo { 
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 5px;
    padding: 5px;
    border: 2px solid #ababaa;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 3px #afafaf;
}

.cjlogueo > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 25px;
}

.img-logueo {
    width: 70px;
    height: 70px;
    border: 1px solid #afafaf;
    display: inline-block;
}

.caja-input { 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #d6d6d6;
}

.caja-input > input {
    height: 30px;
    border: none;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    outline: none;
    color: #424242;
    width: 364px;
}

.cjlogueo > div:nth-child(4) {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lb-singup {
    margin-left: 10px;
    
}

.lb-singup:hover {
    cursor: pointer;
}

.lb-olvido {
    margin-right: 10px;
}

.lb-olvido:hover {
    cursor: pointer;
}

.cjlogueo > div:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-loguear {
    margin-top: 10px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.btn-loguear:hover {
    cursor: pointer;
}