/* formatos generales */
/* quitar seleccionar al cuerpo */
body { 
    margin: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* selector de mostrar */
.mostrar { display: block; }
/* selector de ocultar */
.ocultar { display: none; }
/* diseño de cabecera */
#idheader { 
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--color-prinborder);
}
#idnav {
    position: relative;
    width: auto;
    height: 75px;
    background-color: var(--color-primario);
    border-bottom: 1px solid #1c272f;
}
#idlogo {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 65px;
    top: 5px;
    margin-top: 4px;
    margin-left: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--imagen-logo);
}
#idlbnom {
    display: inline-block;
    margin-left: 5px;
    width: 110px;
    color: var(--color-textblanco);
    font-family: var(--tipo-letra);
    font-weight: bold;
    position: relative;
    top: -20px;
}
#idlbnom::before { content: var(--texto-titulo); }
#idlbnom:hover { cursor: pointer; }
/* fin de header */

/* inicio de menu */
#cjmenu {
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 1;
}

#cjmenu > div {
    display: inline-block;
    position: relative;
    color: var(--color-textblanco);
    text-align: center;
    font-family: var(--tipo-letra);
}

#cjmenu > div:hover {
    cursor: pointer;
}

.btnlogin {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--imagen-login);
    opacity: 0.6;
}
.btnlogin:hover {  opacity: 1; }

.btnmenu {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    top: -10px;
    background-image: var(--imagen-menu);
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}
.btnmenu:hover {  opacity: 1; }
/* fin del menu */

#idsection {
    position: relative;
    width: 100%;
    height: auto;
}
#idarticles {
    position: relative;
    width: auto;
}
#idfooter {
    position: relative;
    width: 100%;
    height: auto;
}

#idarticlef {
    position: relative;
    width: auto;
}

#flexnoticias {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 635px;
}

/* inicio del login */
.btnuser {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: var(--imagen-user);
}
.btnuser:hover { opacity: 1; }

.centrador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background: var(--color-base);
    background: var(--color-moz);
    background: var(--color-webkit);
    background: var(--color-gradiente);
    filter: var(--filtro-gradiente);
}

/* caja de login */
.cjlogueo { 
    display: inline-block;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid var(--color-prinborder);
    box-shadow: 1px 2px 5px 5px var(--color-prinshadow);
    background-color: var(--color-prinactive);
}

.cjlogueo > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.img-logueo {
    display: inline-block;
    font-family: var(--tipo-letra);
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}
.img-logueo:hover { cursor: pointer; }
.img-logueo::after { content: var(--texto-inicio); }

/* input de login */
.caja-input { 
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--color-textblanco);
    border: 1px solid var(--color-textplomo);
    display: flex;
}

.caja-input > input {
    margin-right: 10px;
    border: none;
    text-indent: 10px;
    font-family: var(--tipo-letra);
    font-size: 15px;
    outline: none;
    color: var(--color-textplomo);
}
  
.cjlogueo > div:nth-child(4) {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lb-singup {
    margin-left: 10px;
    text-align: center;
    color: var(--color-textblanco);
    font-family: var(--tipo-letra);
}

.lb-singup:hover {
    cursor: pointer;
}

.lb-singup::after {
    content: var(--texto-crea-cuenta);
}

.lb-olvido {
    margin-right: 10px;
    text-align: center;
    color: var(--color-textblanco);
    font-family: var(--tipo-letra);
}

.lb-olvido::after {
    content: var(--texto-olvido);
}

.lb-olvido:hover {
    cursor: pointer;
}

.cjlogueo > div:nth-child(5){
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-loguear {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    color: var(--color-textblanco);
    border: 1px solid var(--color-prinborder);
    background-color: var(--color-boton);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-family: var(--tipo-letra);
}

.btn-loguear::after { content: var(--texto-btnlogin); }

.btn-loguear:hover {
    cursor: pointer;
    background-color: var(--color-prinhover);
    transform: scale(1.050);
    transition: all 0.1s ease;
}

.btn-loguear:active {
    background-color: var(--color-prinactive);
    transform: scale(1.050);
    transition: all 0.1s ease;
}

.img-mail {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: var(--imagen-mail);
}

.img-pass {
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: var(--imagen-pass);
}
#idminimenu {
    position: absolute;
    background-color: var(--color-primario);
    z-index: 1;
    margin-top: 2px;
    height: 89vh;
    width: 250px;
    right: 0px;
    border-left: 1px solid var(--color-prinborder);
}

/* fin de login */

#idminimenu > div {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0.5px 1px var(--color-prinhover);
    text-indent: 15px;
    color: var(--color-textblanco);
    font-weight: bold;
    font-family: var(--tipo-letra);
}
#idminimenu > div:hover { 
    cursor: pointer; 
    background-color: var(--color-prinhover);
    color: var(--color-textblanco);
}
#idminimenu > div:active { 
    cursor: pointer; 
    background-color: var(--color-prinactive);
    color: var(--color-textblanco);
}
.li-login::after { content: var(--texto-btnlogin); }
.li-servicio::after { content: var(--texto-btn1); }
.li-informacion::after { content: var(--texto-btn2); }
.li-contacto::after { content: var(--texto-btn3); }

.info-principal {
    height: auto;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
.info-principal > div:nth-child(1) { 
    margin-bottom: 20px;
    font-family: var(--tipo-letra);
    font-size: 25px;
    font-weight: bold;
    
}
.info-principal > div:nth-child(1)::after { content: var(--texto-pregunta); color: var(--color-textnegro);  }

.info-principal > div:nth-child(2) { 
    margin-bottom: 50px; 
    font-family: var(--tipo-letra);
    font-size: 20px;
}
.info-principal > div:nth-child(2)::after { content: var(--texto-beneficio); color: var(--color-textnegro); }

.info-principal > div:nth-child(3){
    font-family: var(--tipo-letra);
    font-size: 15px;
    border: 1px solid var(--color-secunborder);
    box-shadow: 2px 3px 0px var(--color-secunshadow);
    background-color: var(--color-secundario);
    color: var(--color-textblanco);
    border-radius: 5px 5px 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}
.info-principal > div:nth-child(3)::after { content: var(--texto-btn2); }
.info-principal > div:nth-child(3):hover {
    cursor: pointer;
    background-color: var(--color-secunhover);
    transform: scale(1.050);
    transition: all 0.1s ease;
}
.info-principal > div:nth-child(3):active {
    background-color: var(--color-secunactive);
    transform: scale(1.050);
    transition: all 0.1s ease;
}

#idminimenu > article {
    margin-top: 50px;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: var(--imagen-logo);
    opacity: 0.03;
}

.capa-transpa {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--color-textnegro);
    opacity: 0.5;
    text-align: center;
}

.cuadro-error {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.desing-error {
    margin: 10px;
    padding: 5px;
    height: auto;
    opacity: 1;
    background-color: var(--color-textblanco);
    border: 2px solid var(--color-textblanco);
    border-radius: 20px 20px;
    box-shadow: 3px 3px 3px var(--color-prinshadow);
}

.desing-error > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5px;
}
.desing-error > div:nth-child(1){
    margin-top: 10px;
    margin-bottom: 15px;
    height: 30px;
}

.lb-encabezado { display: flex; }
.img-iconerror{
    height: 30px;
    width: 30px;
    background-image: var(--imagen-error);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.color-warnin { color: #9f2222; }
.color-warnin::after { content: var(--texto-msgerror); }

.img-iconatencion{
    height: 30px;
    width: 30px;
    background-image: var(--imagen-atencion);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;  
}
.color-atencion { color: #46450d; }
.color-atencion::after { content: var(--texto-msgatencion); }

.lb-encabezado > div:nth-child(2){
    width: 215px;
    padding: 3.5px;
    text-indent: 10px;
    font-family: var(--tipo-letra);
    font-size: 22px;
    font-weight: bold;
}

.desing-error > div:nth-child(2){
    height: auto;
    background-color: var(--color-backmsg);
    padding-top: 13px;
    padding-bottom: 13px;
    color: var(--color-primario);
    font-family: var(--tipo-letra);
    font-size: 14px;
    border-radius: 5px 5px;
}

.desing-error > div:nth-child(3){
    height: auto;
    margin-bottom: 5px;
}

.img-iconcorrecto {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;  
    background-image: var(--imagen-correcto);
}

.color-correcto { color: #063d22; }
.color-correcto::after { content: var(--texto-msgcorrecto); }
.coloracepto { 
        background-color: var(--color-prinactive) !important; 
        border: 1px solid var(--color-prinborder) !important;
        box-shadow: 2px 2px var(--color-prinshadow) !important;
}

.btn-aceptar {
    margin: 10px;
    width: 120px;
    text-align: center;
    font-family: var(--tipo-letra);
    font-weight: 400;
    padding: 5px;
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secunborder);
    box-shadow: 2px 2px var(--color-secunshadow);
    border-radius: 10px 10px;
    color: var(--color-textblanco);
}
.btn-aceptar::after { content: var(--texto-btnaceptar); }

.btn-aceptar:hover {
    cursor: pointer;
    background-color: var(--color-secunhover);
    transform: scale(1.050);
    transition: all 0.1s ease;  
}

.btn-aceptar:active {
    background-color: var(--color-secunactive);
    transform: scale(1.050);
    transition: all 0.1s ease; 
}

/* cuadro de doble factor */
.doble-factor {
    width: 258px;
    height: auto;
    margin-left: 3px;
    margin-right: 3px;
}

.doble-factor > div:nth-child(1){
    display: flex;
    margin: 5px;
    padding-bottom: 10px;
}

.img-auten {
    width: 30px;
    height: 30px;
    background-image: var(--imagen-factor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.lbtt-auten {
    text-indent: 10px;
    color: var(--color-textblanco);
    font-family: var(--tipo-letra);
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.caja-digitos {
    margin-top: 5px;
    margin-bottom: 5px;
}

.caja-digitos > div {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--color-textblanco);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px;
}

.caja-digitos > p {
    text-align: center;
    margin: 0;
    color: var(--color-textblanco);
    font-family: var(--tipo-letra);
    font-size: 13px;
    padding-top: 5px;
}

.input-digito {
    height: 20px;
    width: 29px;
    margin: 5px;
    border: none;
    border-bottom: 3px solid var(--color-textplomo);
    outline: none;
    text-align: center;
    color: var(--color-textplomo);
    font-family: var(--tipo-letra);
    font-size: 22px;
    font-weight: bold;
}

.doble-factor > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
}

.doble-factor > div:nth-child(3) > div {
    border: 1px solid var(--color-textplomo);
    border-radius: 5px 5px;
    color: var(--color-textblanco);
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-family: var(--tipo-letra);
}

.doble-factor > div:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn-autentica {
    margin: 10px;
    width: 120px;
    text-align: center;
    font-family: var(--tipo-letra);
    font-weight: 400;
    padding: 5px;
    background-color: var(--color-primario);
    border: 1px solid var(--color-prinborder);
    box-shadow: 2px 2px var(--color-prinshadow);
    border-radius: 10px 10px;
    color: var(--color-textblanco);
}

.btn-autentica::after { content: "Ingresar"; }

.btn-autentica:hover {
    cursor: pointer;
    background-color: var(--color-prinhover);
    transform: scale(1.050);
    transition: all 0.1s ease;  
}

.btn-autentica:active {
    background-color: var(--color-prinactive);
    transform: scale(1.050);
    transition: all 0.1s ease; 
}

/* diseño de animacion loader */
.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}