/* formatos generales */
body { 
    margin: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mostrar { display: block; }

.ocultar { display: none; }

#idheader { 
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #415b6e;
}
#idnav {
    position: relative;
    width: auto;
    height: 75px;
    background-color: #242e36;
    border-bottom: 1px solid #1c272f;
}
#idlogo {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 65px;
    top: 5px;
    margin-top: 4px;
    margin-left: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--imagen-logo);
}
#idlbnom {
    display: inline-block;
    margin-left: 5px;
    width: 110px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: -20px;
}
#idlbnom::before { content: var(--texto-titulo); }

#idlbnom:hover { cursor: pointer; }

#cjmenu {
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 1;
}

#cjmenu > div {
    display: inline-block;
    position: relative;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cjmenu > div:hover {
    cursor: pointer;
}

.btnlogin {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: var(--imagen-login);
    opacity: 0.6;
}
.btnlogin:hover {  opacity: 1; }

.btnmenu {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    top: -10px;
    background-image: var(--imagen-menu);
}
.btnmenu:hover {  opacity: 1; }

#idsection {
    position: relative;
    width: 100%;
    height: auto;
}
#idarticles {
    position: relative;
    width: auto;
}
#idfooter {
    position: relative;
    width: 100%;
    height: auto;
}

#idarticlef {
    position: relative;
    width: auto;
}

#flexnoticias {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
    height: 400px;
}

.btnuser {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-image: var(--imagen-user);
}

.btnuser:hover { opacity: 1; }

.centrador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(52,79,99,1) 53%, rgba(62,114,151,1) 100%);
    background: -webkit-linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(52,79,99,1) 53%, rgba(62,114,151,1) 100%);
    background: linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(52,79,99,1) 53%, rgba(62,114,151,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#3e7297",GradientType=1);
}

.cjlogueo { 
    display: inline-block;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #203341;
    box-shadow: 1px 2px 5px 5px #385062;
    background-color: #213543;
}

.cjlogueo > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.img-logueo {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-image: var(--imagen-login);
}

.caja-input { 
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    display: flex;
}

.caja-input > input {
    height: 30px;
    margin-right: 10px;
    border: none;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    outline: none;
    color: #5a5a5a;
}
  
.cjlogueo > div:nth-child(4) {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lb-singup {
    margin-left: 10px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.lb-singup:hover {
    cursor: pointer;
}

.lb-singup::after {
    content: var(--texto-crea-cuenta);
}

.lb-olvido {
    margin-right: 10px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.lb-olvido::after {
    content: var(--texto-olvido);
}

.lb-olvido:hover {
    cursor: pointer;
}

.cjlogueo > div:nth-child(5){
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-loguear {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    background-color: #122837;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-loguear::after { content: var(--texto-btnlogin); }

.btn-loguear:hover {
    cursor: pointer;
    background-color: #172b38;
    transform: scale(1.030);
    transition: all 0.1s ease;
}

.btn-loguear:active {
    background-color: #0b1d28;
    transform: scale(1.030);
    transition: all 0.1s ease;
}

.img-mail {
    height: 33px;
    width: 33px;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: var(--imagen-mail);
}

.img-pass {
    height: 33px;
    width: 33px;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: var(--imagen-pass);
}
#idminimenu {
    position: absolute;
    background-color: #242e36;
    z-index: 1;
    margin-top: 2px;
    height: 89vh;
    width: 250px;
    right: 0px;
    border-left: 1px solid #8b8b8b;
}

#idminimenu > div {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #303d48;
    border-bottom: 1px solid #303d48;
    box-shadow: 0.5px 2px #394752;
    text-indent: 15px;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#idminimenu > div:hover { 
    cursor: pointer; 
    background-color: #213543;
    color: #fff;
}
#idminimenu > div:active { 
    cursor: pointer; 
    background-color: #2d4150;
    color: #fff;
}
.li-login::after { content: var(--texto-btnlogin); }
.li-servicio::after { content: var(--texto-btn1); }
.li-informacion::after { content: var(--texto-btn2); }
.li-contacto::after { content: var(--texto-btn3); }

.info-principal {
    height: auto;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
.info-principal > div:nth-child(1) { 
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    
}
.info-principal > div:nth-child(1)::after { content: var(--texto-pregunta);  }
.info-principal > div:nth-child(2) { 
    margin-bottom: 50px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.info-principal > div:nth-child(2)::after { content: var(--texto-beneficio); }
.info-principal > div:nth-child(3){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 1px solid #9f2222;
    box-shadow: 2px 3px 0px #f67d7d;
    background-color: #b93030;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}

.info-principal > div:nth-child(3)::after { content: var(--texto-btn2); }

.info-principal > div:nth-child(3):hover {
    cursor: pointer;
    background-color: #a52a2a;
    transform: scale(1.030);
    transition: all 0.1s ease;
}

.info-principal > div:nth-child(3):active {
    background-color: #b73131;
    transform: scale(1.030);
    transition: all 0.1s ease;
}

#idminimenu > article {
    margin-top: 50px;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: var(--imagen-logo);
    opacity: 0.03;
}